/* wangeditor富文本编辑器
------------------------------- */
.w-e-toolbar {
	border: 1px solid #ebeef5 !important;
	border-bottom: 1px solid #ebeef5 !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 2 !important;
}

.w-e-text-container {
	border: 1px solid #ebeef5 !important;
	border-top: none !important;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: 1 !important;
}

/* web端自定义截屏
------------------------------- */
#screenShotContainer {
	z-index: 9998 !important;
}

#toolPanel {
	height: 42px !important;
}

#optionPanel {
	height: 37px !important;
}

/* 自定义form样式
------------------------------- */
.input-number-len2 {
	width: 217px;

	.el-input>input {
		text-align: left;
	}
}

/*分页组件不显示最大页数*/ 
div.el-pagination > ul > li.btn-quicknext + .number {
	display: none;
}

.el-dialog > .el-dialog__body {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}